body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
    width: 300px;
  }

  .gallery-item img {
    display: block;
    width: 300px; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 300px; /* Ensure the image doesn't exceed its natural size */
    height: 150px; /* Set the desired height for the images */
  }

  .gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
